body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    font-family: lobster, cursive;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 900px;
    background-color: pink;
}

.container .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container .buttons button {
    width: 150px; 
    height: 60px;
    background-color: white;
    border-radius: 25%;
    font-size: 2rem;
    color: black;
}

.container .screen {
    display: grid;
    width: 800px;
    height: 800px;
    border: 25px solid white;
    margin: 20px auto;
}

.footer {
  text-align: center;
  margin-top: 15px;
  color: #000000;
}

.footer-link {
  color: #FF5E5B;
  font-weight: bold;
  transition: all 0.2s;
}

.footer-link:hover {
  color: #FFED66;
  transition: all 0.2s;
}
